* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", serif;
    font-size: 1rem;
    width: 550px;
    margin: 0 auto;
    min-height: 400px;
}

.container {
    background: #121212;
    height: 100vh;
    min-height: min-content;
    padding-bottom: 2em;
}

/* =================
    Typography
   ================= */

h1,
nav li {
    color: #fff;
}
   
h1 {
    font-size: 2.625rem;
    font-weight: 800;
    letter-spacing: -2.5px;
}

/* nav */

nav ul {
    list-style: none;
    padding: 0;
}

nav a {
    text-decoration: none;
}

nav li {
    font-size: 0.875rem;
    font-weight: 700;
}

/* search */

.search-icon-wrapper {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon {
    width: 16px;
    height: 100%;
}

.search-input,
.search-btn {
    font-size: 0.875rem;
    color: #fff;
    border: none;
    font-family: inherit;
    padding: 0.7em;
}

.search-input {
    background: #2E2E2F;
    max-width: 280px;
    width: 100%;
}

.search-btn {
    font-weight: 500;
    background: #4B4B4B;
    width: 120px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
   
/* =================
    Layout
   ================= */
   
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(/images/header.png);
    background-color: #4B4B4B;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: 0 -155px;
    height: 208px
}

.search-bar {
    display: flex;
    align-items: center;
    background: #2E2E2F;
    width: 80%;
    margin: -18px auto;
    border-radius: 5px;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 208px);
    margin-top: 2em;
}

.results img {
    display: block;
    margin: 0 auto;
}
   
/* =================
       Movie Box
   ================= */
.movie-box {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
    width: 85%;
    padding: 1.5em 1em;
    border-bottom: 1.5px solid #2C2C2C;
}

.movie-box:last-child {
    border: none;
}   
   
.poster {
    width: 100px;
    height: 100%;
    object-fit: cover;
}

.title-rating {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.movie-box h2 {
    font-size: 1.125rem;
    font-weight: 500;
    margin-block: 0;
}

.rating {
    font-size: 0.75rem;
}

.runtime-genre-watchlist {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    gap: 1em;
}

.runtime-genre-watchlist p {
    margin: 0.25em;
}

.watchlist-btn {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-left: 1em;
}

.watchlist-btn img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.plot {
    font-size: 0.875rem;
    color: #A5A5A5
}

.watchlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.watchlist-empty {
    color: white;
}


